.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0) !important;
    position: relative;
    transition: background-color 0.5s, width 1s !important;
    border: 1px solid rgba(0, 0, 0, 0.175) !important;
    overflow-x: scroll;
    overflow-y: hidden;
}

.button:hover {
    border: 1px solid rgba(0, 0, 0, 0.375);
    transition: background-color 0.5s, width 1s;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.05);
    overflow-x: scroll;
    overflow-y: hidden;
    width: 8rem;
}

.button::-webkit-scrollbar {
    display: none;
}

.button:hover .hover-button-text {
    display: block;
}

.text {
    font-size: 100% !important;
    margin: 0 !important;
    color: black !important;
    position: absolute;
    top: -4% !important;
    left: 1.5rem;
}

.img {
    height: 100%;
    position: absolute;
    top: 0% !important;
    left: 0.1rem;
}