.no_scroll {
    overflow-y: hidden;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.group>h4 {
    margin: 0 !important;
}

.save {
    width: 2rem !important;
    height: 2rem !important;
}

.days {
    margin-top: 0.6rem;
    width: 100%;
    overflow-x: scroll;
    transform: rotateX(180deg);
}

/* .days::-webkit-scrollbar {
    height: 12px !important;
} */

.days_blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.4rem;
    transform: rotateX(180deg);
}

.day {
    min-width: 22% !important;
}

.day_header {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.day_header>p {
    font-size: 100% !important;
}

.day_header>button {
    height: 100%;
    aspect-ratio: 1/1;
    font-weight: 500;
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .day {
        min-width: 40% !important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .day {
        min-width: 50% !important;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .day {
        min-width: 100% !important;
    }
}

@media (max-width: 575px) and (min-width: 0px) {
    .day {
        min-width: 100% !important;
    }

    .info {
        gap: 0.5rem;
        flex-direction: column;
    }
}