.AddLessonForm {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh !important;
    background-color: rgba(0, 0, 0, 0.175) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 1rem;
}

.block {
    /* width: 700px; */
    /* height:; */
}

.not_active {
    color: rgba(0, 0, 0, 0.7)
}

.bold {
    font-weight: 500;
}

.types_field {
    display: flex;
    flex-direction: row;
    gap: 0.2rem
}

.btn_group {
    display: flex;
    justify-content: space-between;
}

.btn_field {
    display: flex;
    gap: 0.4rem;
}

.btn {
    padding: 0.6rem !important;
}

.time_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    gap: 0.2rem;
    overflow-x: scroll;
}

.time {
    min-width: 17.5% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
}

.choosen {
    background-color: #0d6efd !important;
    color: white
}

.column {}


@media (min-width: 1200px) {}

@media (max-width: 1199px) and (min-width: 992px) {}

@media (max-width: 991px) and (min-width: 768px) {}

@media (max-width: 767px) and (min-width: 576px) {
    .block {
        width: 550px;
    }
}

@media (max-width: 575px) and (min-width: 0px) {
    .AddLessonForm {
        min-height: 110vh !important;
    }

    .block {
        width: 90%;
        height: 90% !important;
        /* overflow-y: scroll !important; */
    }

    .time {
        min-width: 30% !important;
    }

    .types_field {
        flex-direction: column;
    }
}