@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Montserrat', sans-serif !important;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  padding: 0;
  margin: 0;
}

input {
  position: relative;
  user-select: auto !important;
  -ms-user-select: auto !important;
  -webkit-user-select: auto !important;
}

/* *::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollba:hover {
  cursor: pointer;
}

*::-webkit-scrollbar-track {
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.03);
}

*::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
  background-color: #006CB2;
  border-radius: 3px !important;
} */

.tooltip-inner {
  border: 1px solid rgba(0, 0, 0, 0.175);
}

.tooltip-inner>p {
  padding: 0.1rem 0.3rem;
  cursor: pointer;
  color: black;
  font-weight: 500;
}

.tooltip-arrow,
.tooltip>.tooltip-inner {
  background-color: white;
}

.tooltip-arrow {
  display: none !important;
}

.hover-button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0) !important;
  position: relative;
  transition: background-color 0.5s, width .5s !important;
  border: 1px solid rgba(0, 0, 0, 0.175) !important;
  overflow-x: scroll;
  overflow-y: hidden;
}

.hover-button:hover {
  border: 1px solid rgba(0, 0, 0, 0.375);
  transition: background-color 0.5s, width .5s;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.175) !important;
  width: 10rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.hover-button::-webkit-scrollbar {
  display: none;
}

.hover-button:hover .hover-button-text {
  display: block;
}

.hover-button-text {
  color: black !important;
  position: absolute;
  top: 15% !important;
  left: 3rem;
}

.hover-button-img {
  font-size: 1.3rem !important;
  height: 100%;
  aspect-ratio: 1;
  position: absolute;
  top: 7% !important;
  left: 0rem;
}

input {
  padding: 0.25rem 0.5rem !important;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

p {
  font-size: 120%;
  margin: 0 !important;
}

p,
span {
  font-size: 1.1rem !important;
}

input {
  font-size: 1rem !important;
}

h6 {
  font-size: 120% !important;
}

.center {
  margin: 0 auto;
}

hr {
  /* margin: 0 auto !important; */
  margin: 0.125rem auto !important;
  color: rgba(0, 0, 0, 0.75) !important;
  /* color: #2c71d8 !important; */
  width: 90%;
}

a {
  text-decoration: none !important;
  color: #2c71d8 !important;
  transition: color .5s;
}

a:hover {
  /* font-size: 102% !important; */
  color: #4d86da !important;
  transition: color .5s;
}

.form-block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.1rem
}

.form-label {
  font-size: 90%;
  margin-bottom: 0 !important;
}

.badge {
  border-radius: 0.2rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-weight: 400 !important;
  /* background-color: whitesmoke !important; */
  transition: background-color .5s;
}

.badge:hover {
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51, 0.175) 0px 0px 0px 3px; */
  /* box-shadow: 1px 1px black; */
  /* border: 1px solid rgba(0, 0, 0, 0.18); */
  cursor: pointer;
  background-color: aliceblue !important;
  color: black;
  transition: background-color 1s, color .5s;
}

.bg-secondary {
  background-color: #2c71d8 !important;
}

.modal {
  z-index: 110000 !important;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.gap-2 {
  gap: 0.2rem !important
}

.a-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 575px) and (min-width: 0px) {
  .container {
    width: 90%;
  }
}